extends layout

block content
  .jumbotron
    h1 CD Maturity Tool
    p Has information about what the CD Maturity Model is, what it isn't, how to use it as an effective tool, its guidelines, intended purpose, generic level definitions as well as all 8 sections definitions and specific levels.
    p Allows you to measure and display Continuous Delivery Maturity Model results.