mixin navbar-item(href, name)
  //- url comes from a middleware configured on app.js
  if href == url
    li.active: a( href=href )= name
  else
    li: a( href=href )= name

doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title CD Maturity Model
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    block head-scripts
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
      script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
      <![endif]-->
  body
    nav.navbar.navbar-default( role="navigation" )
      .navbar-header
        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") CD Maturity Tool

      #navbar-inverse.collapse.navbar-collapse
        ul.nav.navbar-nav
          +navbar-item('/', 'Home')
          +navbar-item('/purpose', 'Purpose')
          +navbar-item('/guidelines', 'Guidelines')
          +navbar-item('/intended-outcomes', 'Intended Outcomes')
          +navbar-item('/generic-level-definition', 'Generic Level Definition')
          li.dropdown
            a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Scopes
              span.caret
            ul.dropdown-menu( role="menu" )
              +navbar-item('/scope/continuous-integration', 'Continuous Integration')
              +navbar-item('/scope/quality-assurance', 'Quality Assurance')
              +navbar-item('/scope/configuration-management', 'Configuration Management')
              +navbar-item('/scope/environments-and-deployment', 'Environments and Deployment')
              +navbar-item('/scope/data-management', 'Data Management')
              +navbar-item('/scope/technical-architecture', 'Technical Architecture')
              +navbar-item('/scope/organisational-alignment', 'Organisational Alignment')
              +navbar-item('/scope/visibility', 'Visibility')

          +navbar-item('/maturity-level', 'My Maturity Level')

    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    .container
      block content

    block foot-scripts
      script(src='/lib/jquery/dist/jquery.min.js')
      script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
