extends layout

block append foot-scripts
  script(src='/lib/Chart.js/Chart.min.js')

block content
  .jumbotron
    h1 My Maturity Level
    p
      | This page displays the assessment levels in a graphic way.
      | The assessment data is located in the /data/assessment.yaml file.
      | Editing this file directly will change the data displayed on this page.

  .content
    canvas(id="chart", width="800", height="800")

  block append foot-scripts
    script.
      var ctx = $("#chart").get(0).getContext("2d");
      $.ajax('/maturity-level/data').done(function(res) { 
        var options = {
          scaleShowLabels : true,
        };
        
        var data = res.data;
        var i = 0;
        var colours = ['rgba(255,0,0,0.1)', 'rgba(0,255,0,0.1)', 'rgba(0,0,255,0.1)'];
        data.datasets.forEach(function (item) {
          item.fillColor = colours[i];
          i++;
        });
        var myRadarChart = new Chart(ctx).Radar(data, options);
      });
